{% extends '::base.html.twig' %}

{% block body -%}


    {{ include('MRSControleBundle:TbFinancas/Template:painel.html.twig') }}

    <div class="panel panel-default">
        <div class="panel-heading">
           {{ entity.finDescricao }}
        </div>
        <div class="panel-body">

            <table class="jumbotron">
                <tbody>
                <tr>
                    <th>Data Criacao:</th>
                    <td>{{ entity.finDataCadastro|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th>Valor:</th>
                    <td>{{ entity.finValor | number_format(2,',','.') }}</td>
                </tr>
                <tr>
                    <th>Descricao:</th>
                    <td>{{ entity.finDescricao }}</td>
                </tr>
                <tr>
                    <th>Tipo:</th>
                    <td>{{ entity.tenCodigo }}</td>
                </tr>
                <tr>
                    <th>Categoria:</th>
                    <td>{{ entity.catCodigo }}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">

        </div>
    </div>

  <ul class="btn-toolbar">
    <li class="btn-group">
        <a href="{{ path('financas') }}">
            <button class="btn btn-primary">Listar</button>
        </a>
    </li>
    <li class="btn-group">
        <a href="{{ path('financas_edit', { 'id': entity.finCodigo }) }}">
            <button class="btn btn-primary">Edit</button>
        </a>
    </li>
{%  if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="btn-group">
        {{ form(delete_form) }}
    </li>
{%  endif %}
</ul>
{% endblock %}
