<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container-fluid">

    <!-- Inicio da Barra de Tarefa Princiopal -->
    <nav class="navbar navbar-inverse  navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
            </button>

            <div class="btn-group btn-lg">
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-large"></span> NOME DO SISTEMA
                </button>
                <button data-toggle="dropdown"
                        class="btn btn-default btn-sm dropdown-toggle">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('financas') }}"><span class="glyphicon glyphicon-home"></span> Finanças</a></li>
                    <li><a href="{{ path('categoria') }}"><span class="glyphicon glyphicon-home"></span> Categoria</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Alterar Senha</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Sair </a></li>
                </ul>
            </div>

        </div>



        <div class="nav navbar-left collapse navbar-collapse">
            <p class="navbar-text">SISTEM NAME</p>
        </div>

{#        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
            </ul>
        </div>#}
    </nav>

    <nav class="navbar navbar-default" role="navigation"></nav>
    <!-- Fim do Menu Principal -->

    {% block body %}

    {% endblock %}

    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom"
             role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#este">
                    <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                </button>


                <p class="navbar-text">..:: Controle financeiro ::..</p>

            </div>
            <div class="nav navbar-right collapse navbar-collapse" id="este">
                <button class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-user"></span> Usuário
                </button>
            </div>


        </nav>
        <nav class="navbar navbar-default" role="navigation">
        </nav>
    </footer>
</div>

{% block javascripts %}

{% endblock %}

<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>

</body>
</html>
